<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Phosphorescent.dev</title>
  </head>
  <body>
    <div id="outer">
      <div id="inner" class="bg">
        <h1>phosphorescent.dev</h1>
        Hi. I'm <i>Phos</i>. Welcome to my personal website. <br>

        More stuff coming soon. (TM)
      </div>
    </div>
  </body>
<html>
