<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Phosphorescent.dev</title>
  </head>
  <body>
    <div id="outer">
      <div id="inner" class="bg">
        <h1>phosphorescent.dev</h1>
        Hi. I'm <a>Phos</a>. I have a <a>BSc</a> in <a>Mathematics</a> from the <a>University of Warwick</a>. My interests include <a>business, esports, data science and software engineering.</a> There's not much here at the moment, but in the mean time, check out some of my stuff:<br>
        <a href="https://github.com/phosphorescentt">github</a>
        <a href="https://twitter.com/esportsphos">twitter</a>
        <a href="https://www.linkedin.com/in/joshua-mankelow/">linkedin</a>
      </div>
    </div>
  </body>
<html>
